<div class="component__inner reflection__inner">
  {{> component this}} 

  <div class="reflection__main">

    {{#if _items}}
      {{#each _items}}
        <div class="reflection__widget multiple">
          <div class="reflection__item-titles">
            {{#if subtitle}}
              {{#if title}}
              <div class="reflection__item-title " style="background-color:{{_bgcolour}};color:{{_colour}};" >{{{title}}}</div>
              {{/if}}
              <div class="reflection__item-subtitle" style="background-color:{{_bgcolour}};color:{{_colour}};">{{{subtitle}}}</div>
            {{else}}
              {{#if title}}
              <div class="reflection__item-title wide" style="background-color:{{_bgcolour}};color:{{_colour}};" >{{{title}}}</div>
              {{/if}}
            {{/if}}
          </div>
          <div class="reflection__item-question">{{{question}}}</div>
          <textarea class="reflection__item-textbox js-reflection-textbox" maxlength="255" rows="10" placeholder="{{{../placeholder}}}"  aria-labelledby="input" value="" ></textarea>
        </div>
      {{/each}}
    {{ else }}
      {{#if saveText}}
      <div class="reflection__widget">
        {{#if question}}
        <div class="reflection__item-question">{{{question}}}</div>
        {{/if}}
        <textarea class="reflection__item-textbox js-reflection-textbox" maxlength="255" rows="10" placeholder="{{{placeholder}}}"  aria-labelledby="input" value="" ></textarea>
      </div>
      {{/if}}
    {{/if}}


    <div class="reflection__buttons button is-visible">
      {{#if saveText}}
      <button class="reflection__btn btn js-reflection-save-click"  aria-label="{{{saveText}}}">
        {{{saveText}}}
      </button>
      {{/if}}
      {{#if exportText}}
      <button class="reflection__btn btn secondary js-reflection-export-click"  aria-label="{{{exportText}}}">
        {{{exportText}}}
      </button>
      {{/if}}
    </div>

    <div class="reflection__message">
      {{{message}}}
    </div>

    {{#if pdf}}
    {{#each pdf}}
    <div class="reflection__pdf">
      <div class="reflection__pdf-image">
        {{{image}}}
      </div>
      <div class="reflection__pdf-title">
        {{{title}}}
      </div>
      <div class="reflection__pdf-subtitle">
        {{{subTitle}}}
      </div>
      <div class="reflection__pdf-contenttitle">
        {{{contentTitle}}}
      </div>
      <div class="reflection__pdf-content">
        {{{content}}}
      </div>
    </div>
    {{/each}}
    {{/if}}

  </div>
</div>
